h1{
    font-family: sans-serif;
    font-weight: normal;
    color: azure;
}
.layout{
    text-align: center;
    border:collapse;
    border-collapse: collapse;
    table-layout: fixed;
    width:400px;
    margin: 0 auto 0 auto;
  
}
tr{
    background-color:cornflowerblue ;
}
th,td{
    border:solid black 2px;
    
}
td{
   font-family: sans-serif;
   font-weight: normal;
}

button{
    font-weight: bold;
    width:100px;
    padding: 5px;
    background-color:black;
    color:white;
    outline: none;
    border:none;
    text-align: center;
}
button:hover{
    color:#7600dc;
    background-color:white;
}

.cart_container{
    background-color:rgb(140, 173, 164);
    width: 500px;
    display: inline-grid;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-count{
    justify-content: center;
    width:fit-content;
}
.total{
    border: solid black;
    background-color: black;
    color:azure;
    padding: 0 10px 0 10px;
    margin-top: 10px;
    margin-left: auto;
}
.placeOrder{
    margin-top: 5px;
}

.po{
    margin:15px 0 15px 0;
    justify-content: center;
}

.total-placed{
    background-color: black;
    color:azure;
    justify-content: center;
}

@media (max-width:768px) {
    .cart_container{
        width:fit-content;
    }
    .placeOrder{
            text-align: center;
            align-content: center;
            justify-content: center;
    }
    .total-placed{
        width:100%;
    }
    .po,.layout{
        width: 100%;
    }
}

